html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}







.chessboard {
  display: inline-block;
    border: 2px solid black;
}

.rank {
  display: flex;
}


.square {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.square img {
  width: 90%;   /* passt das Bild ins Feld */
  height: 90%;
  object-fit: contain;
}


.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}


.square.selected {
  background-color: rgba(0, 0, 255, 0.2);
}