@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Best Freestyle Chess Site ever!</p>
    <p>Klicke unten, um ein neues Spiel zu starten:</p>

    <a asp-controller="Game" asp-action="Board" class="btn btn-primary">
    Jetzt spielen
    </a>
</div>
