@model FreestyleChess.Models.Board

<h1>Schachbrett</h1>

<div class= "board">
    @for (int rank = 0; rank < 8; rank++)
    {
        <div class="rank">
            @for (int file = 0; file < 8 ; file++)
            {
                var square = Model.Squares[rank, file];
                var isWhite = (rank + file) % 2 == 0;
                <div class="square @(isWhite ? "white" : "black")">
                    @if (square.Piece != null)
                    {
                        <img src="~/images/pieces/@(square.Piece.Color.ToString().ToLower())_@(square.Piece.Type.ToString().ToLower()).svg" alt="@square.Piece.Type" />
                    }
                </div>
            }
        </div>
    }
</div>


<form asp-action="RandomPosition" method="post">
    <button type="submit">Startposition losen</button>
</form>


<form asp-action="PlayPosition" method="post">
    <button type="submit">Diese Position spielen</button>
</form>


