@model FreestyleChess.Models.Board

<h1>Schachbrett</h1>

<div class= "board">
    @for (int rank = 0; rank < 8; rank++)
    {
        <div class="rank">
            @for (int file = 0; file < 8 ; file++)
            {
                var square = Model.Squares[rank, file];
                var isWhite = (rank + file) % 2 == 0;
                <div class="square @(isWhite ? "white" : "black")" data-rank="@rank" data-file="@file">
                    @if (square.Piece != null)
                    {
                        <img class="piece" 
                             src="~/images/pieces/@(square.Piece.Color.ToString().ToLower())_@(square.Piece.Type.ToString().ToLower()).svg" 
                             alt="@square.Piece.Type" />
                    }
                </div>
            }
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/board.js"></script>
}